<div class="cabinet" fxLayout="row" fxLayoutAlign="start none" >
  <button mat-button *ngIf="!opened" mat-icon-button (click)="sidenav.toggle()" class="open">
    <mat-icon>arrow_forward_ios</mat-icon></button>
<mat-sidenav-container class="container my-2 width-full">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <button mat-button *ngIf="opened" mat-icon-button (click)="sidenav.toggle()" class="close">
      <mat-icon>arrow_back_ios</mat-icon></button>
    <mat-list class="mt-2 py-2">
      <mat-list-item> <button mat-button mat-raised-button (click)="toggleTab('profile')">
        <mat-icon>account_circle</mat-icon> Профиль</button> </mat-list-item>
      <mat-list-item> <button mat-button mat-raised-button (click)="toggleTab('classy')">
        <mat-icon>list</mat-icon> Объявления</button> </mat-list-item>
      <mat-list-item> <button mat-button mat-raised-button (click)="toggleTab('addclassy')">
        <mat-icon>playlist_add</mat-icon> Добавить объявление</button> </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="p-2">
    <app-product-add-form [isEdit]="false" [prodId]="0" *ngIf="tab === 'addclassy'"></app-product-add-form>
    <app-profile *ngIf="tab === 'profile'"></app-profile>
    <app-classy *ngIf="tab === 'classy'" [cmp]="cmp"></app-classy>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
