<div class="goods-card">
  <ng-container *ngIf="full">
    <div class="image image-full" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
    <p>{{product.price}} ₽</p>
    <h4><small>{{product.partcode}} </small> {{product.title}}</h4>
    <h5>{{product.category}}</h5>
    <p>
      {{product.brand}} / {{product.model}}
    </p>
    <p class="desc">{{product.description}}</p>
    <p>
      <button mat-button mat-raised-button color="warn" (click)="goToProduct()">Перейти</button>
    </p>
  </ng-container>

  <ng-container *ngIf="!full">
    <div class="clickable" (click)="goToProduct()">
      <div class="image" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
      <p>{{product.price}} ₽</p>
      <h4><small>{{product.partcode}} </small> {{product.title}}</h4>
    </div>
  </ng-container>
</div>
