<button mat-button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="isLogin" (click)="goTo('profile')">Профиль</button>
  <button mat-menu-item *ngIf="isLogin" (click)="goTo('classy')">Мои объявления</button>
  <button mat-menu-item *ngIf="isLogin" (click)="goTo('addclassy')">Добавить объявление</button>
  <button mat-menu-item *ngIf="!isLogin" (click)="goTo('reg')">Регистрация</button>
  <button mat-menu-item *ngIf="!isLogin" (click)="goTo('login')">Войти</button>
  <button mat-menu-item *ngIf="isLogin" (click)="goTo('logout')">Выход</button>
</mat-menu>
