<div [ngClass]="dark ? 'dark height-full':'height-full'">
  <button mat-icon-button (click)="dark = !dark"  class="dark-toggle-btn"><mat-icon>brightness_medium</mat-icon></button>
  <div class="container-row height-full" fxLayout="column" fxLayoutAlign="start" fxFlexFill>
    <div class="width-full">
      <app-header></app-header>
    </div>
    <div class="width-full" fxFlexFill fxFlex="grow" fxLayout="column">
      <router-outlet></router-outlet>
    </div>
    <footer class="width-full" fxLayout="row" fxLayoutAlign="center end" >
      <app-footer></app-footer>
    </footer>
  </div>
</div>
