Options -Indexes
Options FollowSymlinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.html
AuthType Basic
AuthName "Password Protected Area"
AuthUserFile /var/www/userpass/.htpasswd
Require valid-user
