@import "assets/styles/offsets";
footer {
  height: 4em;
}

.container{
  max-width: 1366px;
  margin: 0 auto;
  &-row {
    max-width: 100%;
    padding: 0 2em;
  }
}
.height {
  &-full {
    min-height: 100vh !important;
  }
}
.width {
  &-full {
    width: 100%;
  }
}
.nowrap {
  white-space: nowrap;
}
.float {
  &-left {float: left;}
  &-right {float: right;}
}
.text-color {
  &-orange {color: darkorange; }
  &-link {
    color: #008DD2;
    &.active {
      color: darkblue;
    }
    &:hover {
      color: darkblue;
    }
  }
  &-red {color: brown;}
}

.dark {
  color: #959499;
  background-color: #152027;
  .text-color {
    &-orange {color: darkorange; }
    &-link {color: cadetblue;}
  }
}
.cursor-pointer {
  cursor: pointer;
}

/*4A738C - QUEEN BLUE
3D5F73 - DEEP SPACE SPARKLE
152027 - DARK JUNGLE GREEN
0E151A - EERIE BLACK
 C95000 - BURNT ORANGE*/
.text-color {
  &-queen-blue {}
}

@import "assets/styles/elements";
